{
  "timeout": 10,
  "source": {
    "directories": [
      "src"
    ]
  },
  "logs": {
    "text": "logs\/infection.log",
    "badge": {
      "branch": "master"
    }
  },
  "tmpDir": "tmp",
  "phpUnit": {
    "configDir": "./"
  },
  "mutators": {
    "@default": true
  }
}